<div class="taller">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2 class="text-primary center-block">Magalu Finder</h2>
    </div>
  </div>
  <div class="row">
    <!-- spacer -->
    &nbsp;
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form [formGroup]="searchForm">
        <div class="input-group">
          <span [class.has-error]="searchForm.controls.searchBox.invalid && searchForm.controls.searchBox.touched">
            <input type="text" class="form-control" formControlName="searchBox" placeholder="digite o nome do produto">
          </span>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" [disabled]="!searchForm.valid">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div>
        <div class="result-container" *ngIf="products | async; let productItems">
          <div class="results" *ngIf="productItems.length > 0">
            <ul class="list-unstyled">
              <li *ngFor="let product of productItems">
                <a href="#" class="row" (click)="onSelectProduct(product)">
                  <div class="col-sm-1">
                    <i class="fa fa-gift fa-lg fa-fw" aria-hidden="true"></i>
                  </div>
                  <div class="col-sm-8 text-left vertical-align">{{product.description}}</div>
                  <div class="col-sm-3 text-right vertical-align">R$ {{product.price}}</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>