<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="text-primary">
      <i class="fa fa-gift fa-2x fa-fw idented" aria-hidden="true"></i>
      <span class="idented">{{product?.description}}</span>
    </h2>
    <h3>R$ {{product?.price}}</h3>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <h4>Encontrado nas seguintes lojas</h4>
    <div class="col-sm-8">
      <ul class="list-unstyled">
        <li *ngFor="let store of stores | async">
          <div class="panel panel-default row store-box">
            <div class="col-sm-8 flex-1">
              <strong>{{store.description}}</strong>
              <br /> {{store.address}}
            </div>
            <div class="col-sm-4 distance text-primary flex-1">{{store.distance.text}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
